<div class="w-[100vw] h-screen bg-gradient-to-br from-blue-200 to-cyan-200">

  <div class="flex flex-col h-full justify-center items-center rounded-xl p-4 text-xl ">
    <form
      #loginForm="ngForm"
      class="w-[100%] md:w-[25%] bg-white/40 p-5 py-6 rounded-xl backdrop-blur-sm items-center justify-center flex flex-col gap-5 form-signin"

    >
      <span class="text-2xl md:text-3xl py-4 font-bold">Login To Your Account</span>
      <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg">{{ msg }}</p>
      </div>
      <div
        class="flex flex-col w-[100%] md:w-[90%] bg-white p-2 px-4 rounded-xl text-[12px] gap-1"
      >
        <label>Email: </label>
        <input
          type="text"
          name="email"
          required
          autofocus=""
          email
          [(ngModel)]="authRequest.email"
          #email="ngModel"
          [class.is-invalid]="!email.valid && !email.pristine"
          placeholder="Enter your Email"
          class="bg-transparent border-transparent focus:outline-none focus:ring-transparent focus:border-none form-control"
        />
      </div>
      <div
        class="flex flex-col w-[100%] md:w-[90%] bg-white p-2 px-4 rounded-xl text-[12px] gap-1"
      >
        <label>Password: </label>
        <input
          type="password"
          id="password"
          name="password"
          required=""
          [(ngModel)]="authRequest.password"
          #password="ngModel"
          placeholder="Enter your password"
          class="bg-transparent border-transparent focus:outline-none focus:ring-transparent focus:border-none form-control"
        />
      </div>

      <button
        type="submit"
        (click)="login()"
        class="bg-blue-500 text-white px-2 p-1 rounded-full w-[90%] hover:bg-blue-700 disabled:opacity-50 disabled:hover:bg-blue-500"
      >
        Login
      </button>

      <div class="w-full flex items-center justify-between py-2 text-[12px]">
        <p class="hover:underline cursor-pointer" (click)="register()">Sign Up</p>

        <p class="hover:underline cursor-pointer">Forgot Password?</p>
      </div>
    </form>
  </div>
</div>
