<div class="p-4">
  <h2>Manage Book</h2>
  <hr>
  <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg.length" >
    <p class="p-0 m-0 " *ngFor="let msg of errorMsg">
      {{msg}}
    </p>
  </div>
  <div class="d-flex gap-2 ">
    <div class="col-3">
      <img [src]="selectedPicture || 'https://picsum.photos/1900/800?random=1' " alt="..." srcset="" class="rounded-1 " width="100%" height="100%">
      <div class="mt-2">
        <input type="file" (change)="onFileSelected($event)" class="form-control" id="form-file" accept="image/*">
      </div>
    </div>
    <div class="col-9">
      <form class="row g-3">
        <div class="col-12 ">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="bookRequest.title" name="title" required placeholder="Book Title">
        </div>
        <div class="col-6 ">
          <label for="author" class="form-label">Author Name</label>
          <input type="text" class="form-control" id="author" [(ngModel)]="bookRequest.author" name="author" required placeholder="Author Name">
        </div>
        <div class="col-6 ">
          <label for="isbn" class="form-label">ISBN</label>
          <input type="text" class="form-control" id="isbn" [(ngModel)]="bookRequest.isbn" name="isbn" required placeholder="Book ISBN">
        </div>
        <div class="col-12 ">
          <label for="synopsis" class="form-label">Synopsis</label>
          <textarea  class="form-control" id="synopsis" [(ngModel)]="bookRequest.synopsis" name="synopsis" rows="4" required placeholder="Book Synopsis"></textarea>
        </div>
        <div class="col-12 ">
          <input  class="form-check-input" id="shareable"  [(ngModel)]="bookRequest.shareable" name="shareable" type="checkbox" >
          <label class="form-check-label" for="shareable" >&nbsp;Shareable</label>
        </div>

        <div class="d-flex justify-content-end gap-4 col-12">
          <button type="submit" class="btn btn-outline-primary" (click)="saveBook()">
            <i class="fas fa-save"></i>&nbsp;Save
          </button>
          <a routerLink="/books/my-books" class="btn  btn-danger">
            <i class="fas fa-times"></i>&nbsp;Cancel
          </a>
        </div>
      </form>

    </div>
  </div>
</div>
