<div class="flex justify-center items-center h-[100vh]" *ngIf="submitted else codeForm">
  <div class="text-center" *ngIf="isOkay else activationError">
    <h2>
      Activation Successful!
    </h2>
    <p>
      Your Account has been activated successfully. You can now login to your account.
    </p>
    <button class="btn btn-primary" (click)="redirectToLogin()"> Go To Login</button>
  </div>
  <ng-template #activationError>
    <div class="flex flex-col text-center text-red-600 gap-3">
      <h2 class="text-2xl font-semibold">
        Activation failed
      </h2>
      <p>
        {{msg}}
      </p>
      <button class="btn btn-primary" (click)="submitted = false"> Try Again</button>
    </div>
  </ng-template>
</div>
<ng-template #codeForm>
  <div class="flex justify-center items-center h-[100vh]">
    <div class="text-center w-[400px] flex flex-col gap-3">
      <h2 class="text-2xl font-semibold">
        Type your activation code
      </h2>
      <code-input
        [isCodeHidden]="false"
        [codeLength]="6"
        [code]="'number'"
        (codeCompleted)="onCodeCompleted($event)"
      >

      </code-input>
    </div>
  </div>
</ng-template>
