<h3>Returned Book List</h3>
<div
  *ngIf="message"
  class="alert"
  [class.alert-danger]="label === 'error'"
  [class.alert-success]="label === 'success'"
>
  {{message}}
</div>
<hr>

<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">ISBN</th>
      <th scope="col">Rate</th>
      <th scope="col"><i class="fas fa-cogs"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of returnedBooks.content; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.isbn }}</td>
      <td>
        <app-rating [rating]="book.rate || 0"></app-rating>
      </td>
      <td>
        <div class="d-flex gap-2">
          <i
            *ngIf="book.returned"
            class="fa-regular fa-paper-plane text-primary"
          ></i>
          <i
            *ngIf="!book.returned"
            class="fa-solid fa-paper-plane text-success"
          ></i>
          <i
            [class.text-success]="book.returnApproved"
            class="fa-solid fa-circle-check"
            (click) = "approveBookReturn(book)"
          ></i>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page Navigation Example">
      <ul class="pagination">
        <li class="page-item">
          <a
            (click)="gotoFirstPage()"
            [class.disabled]="page == 0"
            aria-label="Previous"
            class="page-link"
            href="javascript:void(0)"
          >
            <i class="fa-solid fa-angles-left"></i>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="gotoPreviousPage()"
            [class.disabled]="page == 0"
            aria-label="Previous"
            class="page-link"
            href="javascript:void(0)"
          >
            <i class="fa-solid fa-angle-left"></i>
          </a>
        </li>
        <li
          *ngFor="
            let _ of [].constructor(this.returnedBooks.totalPages);
            let pageIndex = index
          "
          class="page-item"
        >
          <a
            (click)="gotoPage(pageIndex)"
            [class.active]="pageIndex == page"
            aria-label="Previous"
            class="page-link"
            href="javascript:void(0)"
          >
            {{ pageIndex + 1 }}
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="gotoNextPage()"
            [class.disabled]="isLastPage"
            aria-label="Previous"
            class="page-link"
            href="javascript:void(0)"
          >
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="gotoLastPage()"
            [class.disabled]="isLastPage"
            aria-label="Previous"
            class="page-link"
            href="javascript:void(0)"
          >
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
